.events {
    max-width: 1440px;
    margin: 64px auto;
    box-shadow: 8px 14px 29px -13px #000000;
    display: flex;
    padding: 50px 26px 26px 26px;
   /* position: relative;*/
}

.events h4 {
    color: #3d3d3d;
    font-family: "Bebas Neue";
    font-size: 29px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.events h2 {
    font-size: 42px;
    color: #3d2514;
    font-family: "Alfa Slab One";
    text-transform: uppercase;
    margin-bottom: 40px;
}

.events p {
    font-size: 20px;
line-height: 1.5;
color: #3d3d3d;
font-family: "Montserrat";
}

.events div:first-child {
    padding: 30px ;
}

.events-pos {
    position: relative;
}

.events ul {
    display: flex;
    position: absolute;
    left: 26px;
    bottom: 30px;
    margin-right: 7px;
}

.events li {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #dcdcdc;
    margin-right: 7px;
    }

.events li:first-child {
    background-color: #ffc045
}

.events li:hover {
    background-color: #ffc045
}


