/*
font-family: 'Alfa Slab One', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif;
*/

header {
    display: flex;
    justify-content: space-between;
    padding: 50px 56px; /*elemto dalis ir pastumia viska is virsau ir apacios 50 ir is kaires ir desnes 58*/
    background: yellow;
    color: #3d2514;
    
    
}

.logo {
    
}

header div img{
    padding-right: 10px;}

.container-express {
    display: flex;
    align-items: center; 
    justify-content: flex-end;
   margin-bottom: 26px;
}

a {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    letter-spacing: 4px;
    color: #3d2514;
    padding: 0px 24px;
}

.container-express div {
    font-weight: bold;
 
}
header div:nth-of-type(2){
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
          
}
nav a:first-child{
   /* padding-right: 26px;*/
    padding-left: 0px;
}
nav a:last-child{
   /* padding-left: 26px;*/
    padding-right: 0px;
}


