/*
font-family: 'Alfa Slab One', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif;
*/

header {
    display: flex; /*sudeda i veina eiles elementus*/
    justify-content: space-between; /*ismeta elemtus skirtinguose pusese*/
    padding: 50px 56px; /*elemto dalis ir pastumia viska is virsau ir apacios 50 ir is kaires ir desnes 58*/
    color: #3d2514;
    max-width: 1440px;
    margin: auto;
    background: url(../src/assets/Rectangle.png);
    
}

header div img{
    padding-right: 10px;}

.container-express {
    display: flex;
    align-items: center; 
    justify-content: flex-end;
   margin-bottom: 26px;
}

.right-side nav a {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    letter-spacing: 4px;
    color: #3d2514;
    margin: 0px 24px;
}

.container-express div {
    font-weight: bold; /*abra galima nurodyti 700 t.y. tas pats*/
 
}

header div:nth-of-type(2){
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
          
}

.right-side nav a:first-child{
       margin-left: 0px;
}

.right-side nav a:last-child{
       margin-right: 0px;
}


