.offers {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    font-family: 'Bebas Neue', cursive;
    line-height: 34px;
    margin: 80px auto;
    ;
   /* position: relative; */
    color: white;

}

.burger-right, .burger-left {
    position: relative;
}

.burger-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lygiavimas {
   position: relative;
}

.text-on {
   position: absolute;
    top: 30px;
    left: 24px;

}

.offers h2{
    font-size: 30px;

  
}

.offers h4{
    font-size: 20px;
    
}


