/*
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
*/

/*@import './mixins.css'*/


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 38px;
    margin-bottom: 24px;
}

.header-menu {
    display: flex;
}

.header-logo {
    font-size: 24px;
    letter-spacing: -1px;
    font-weight: 600;

}

.header-menu a {
    font-size: 12px;
    font-weight: 400;
    padding-left: 12px;
    padding-right: 12px;

}

.header-menu a:first-child {
    padding-left: 0;
}

.header-menu a:last-child {
    padding-right: 0;
}

.header-menu a:nth-child(5) {
    padding-right: 34px;
}

.header-menu__buttom {
    width: 144px;
    height: 40px;
}

.header-menu__buttom--yellow {
    background: #ffcc01;
}

@media (max-width: 768px) {

    .header {
        position: relative;
    }

    .header-menu {
        visibility: hidden;
    }

    .header-logo:hover {
        .header-menu {
            position: absolute;
            visibility: visible;
            display: flex;
            top: 0;
        }
    }

}