div{
    background: red;
}
div div {
    background: blue;
}

div div div {
    background: yellowgreen;
}

div.kubas {
    width: 50px;
    height: 50px;
}

.kubas, .staciakampis{
    width: 50px;
    height: 50px;
    background: green;
    margin-bottom: 10 px;
}

.kubas{
    border: 1px solid grey;
}

.staciakampis {
    width: 70 px;
}
