@import './theme';
@import './mixin';

body {
    font-family: 'Montserrat', sans-serif;
    color: $text-color;
}

.header {
    @include flex-layout(space-between, center);
    padding: 26px 18px;

}

.header-logo {

    font-size: 24px;
    letter-spacing: -1px;
    font-weight: 600;

}

.header__burger-menu {
    width: 32px;
    height: 32px;

}

.header-menu__button {
    background: $primary;
}

/*kaip headeris atrodys ant mobile*/

.header-menu {
    position: relative;
    order: 1;


    @media (max-width: $tablet) {
        nav.header__navigation-links {
            display: none;
            position: absolute;
            top: 40px;
            right: 0;
            border: 1px solid $secondary;
            border-radius: $border-radius;
        }

        &:focus,
        &:focus-within {
            nav.header__navigation-links {
                @include flex-layout;
                flex-direction: column;
            }
        }
    }
}

.header__navigation-link {
    width: 100%;
    padding: 15px 16px 14px;
    font-size: $text-size;
    text-align: center;

    &:hover {
        /*kai issiskleidzia meniu tuomet gaunam toki efekta, pabraukima*/
        border-bottom: 1px solid $border-color;
    }
}

/*taip atrodys headeris ant tablet*/

@media (min-width: $tablet) {
    .header-menu {
        order: 1;


        nav.header__navigation-links a:nth-child(-n+5) {
            display: none;
        }

        &:focus,
        &:focus-within {
            nav.header__navigation-links {
                /*tevynis elementas, jei ji rodom tai vaikai nepasirodo, nes virsuj nurodem kad jie nesirodytu*/
                @include flex-layout;
                flex-direction: column;
            }

            nav.header__navigation-links a:nth-child(-n+5) {
                /*todel ja ucia nurodom kad vaikas matytusi*/
                display: block;

            }
        }
    }


}



nav.header__navigation-links a:last-child {
    position: absolute;
    top: 40px;
    right: 0;
    border: 1px solid $secondary;
    border-radius: $border-radius;
}



/*taip headeris atrodis ant desktopo*/

.header-menu {
    order: 0;
    @media (min-width: $desktop) {
        img {
            display: none;
        }
        nav.header__navigation-links {
            @include flex-layout;
    }
    nav.header__navigation-links a:nth-child(-n+5) {
        /*todel ja ucia nurodom kad vaikas matytusi*/
        display: block;
}
nav.header__navigation-links a:first-child {
    padding-left: 0;
}

nav.header__navigation-links a:last-child {
    padding-right: 0;
}

nav.header__navigation-links a:nth-child(5) {
    padding-right: 34px;
}
}}

//------------Headerio pabaiga-----------------

//--------------Search sekcijos pradzia--------------

.about {
  
    @include flex-layout;
    flex-direction: column;
    margin-top: 80px;
    padding: 0 24px;
   
   
    

    @media (min-width: $desktop) {
        @include flex-layout(space-between, flex-start);
        flex-direction: row;
        
        
    }

.about__description {
    h2 {
        font-size: 30px;
        letter-spacing: -2px;
        line-height: 78px;}
    @media (min-width: $tablet) {
        
        h2 {
            font-size: 45px; 
        }
    }
}
.about__description {
    p {
        font-size: 15px;
        margin-bottom: 20px;
        line-height: 30px;
        @media (min-width: $tablet)  {
            width: 70%
        }
        @media (min-width: $desktop) {
           p {  font-size: 50 px;
                margin-bottom: 42px; 
                
        }
        }
    }
        
    }

    .about__milestones {
        display: grid;
        grid-template-columns: repeat(2, 200px);
        grid-template-rows: repeat(2, 200px);
        grid-gap: 14px;
        
            div {
                font-size: 20px;
                letter-spacing: -1px;
                line-height: 50px;
                color: #ffcc01;
                @media (min-width: $desktop) {
            
                    font-size: 40px;
                
                }
            }
            span {
                font-size: 14px;
                letter-spacing: 0px;
                line-height: 50px;
                color: #1f373d;}

        @media (min-width: $tablet) {
                   grid-gap: 28px;
        }
       
    .about__milestone {
     
            background-color: #96bece;
            margin: 25px 25px 25px 25px;
            line-height: 30px;
            padding: 25px;
     
        
    }
           
    }
}

//---------------Search section------------------------------

.search {
    .search__container {
        position: relative;
        .search__heading {
            @include flex-layout;
            display: block;
            position: absolute;
            
            h1 {
                font-size: 30px;
                letter-spacing: -2px;
                line-height: 78px;
                font-weight: 600;
                @media (min-width: $tablet) {
                    font-size: 50px;
                }
            }

            input {
                padding: 18px 18px 17px;
                border: none;
                @media (min-width: $desktop) {
                    padding: 30px 34px 28px;
                }
            }

            button {
                background: $primary;
                
                padding: 18px 18px 16px;
                font-weight: 600;
                border-top-right-radius: $border-radius;
                border-bottom-right-radius: $border-radius;
                @media (min-width: $tablet) {
                    padding: 18px 34px 16px;
                }
    
                @media (min-width: $desktop) {
                    padding: 30px 34px 28px;
                }    
            }
        }

        .search__search {
            position: relative;
            @include flex-layout(flex-start, center);
            img {
                position: absolute;
                left: 10px;
            }
        }

        .search__background {
            background-color: $secondary;
            height: 50%;
            width: 80%;
            margin-left: auto;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            @media (min-width: $desktop) {
                justify-content: flex-end;
                align-items: flex-end;  
            }
        }
        .search__scroll-down {
            @include flex-layout;
            transform: rotate(-90deg);
            position: absolute;
            bottom: 54px;
            left: -32px;
            flex-direction: row-reverse;
            div {
                margin: 12px;
            }
            img {
                transform: rotate(90deg);
            }
        }
        
    }
}

.search__contacts {
    display: flex;
    flex-direction: column;
    background: #ffcc01;
    @media (min-width: $desktop) {
        flex-direction: row;
    }
    .search__contact {
        padding: 26px 50px 28px 50px;
        font-weight: bold;
    }
}

//-----------------------Appartments-rent korteles--------------------------------------

.appartments-background {
    background: #f6f5f4;
    padding-bottom: 80px;
}

.wrapper {
    margin-top: 58px;
    @include flex-layout(flex-start, center);
}

.rent {
    background: #f6f5f4;
    padding-top: 40px;

    button {
        background: white;
        padding: 30px 34px 28px;
        font-weight: 600;
    }

    h2 {
      font-weight: 600;
      font-size: 40px;
      letter-spacing: -1px;
        
    }
    .search__search {
        margin-right: 30px;
        position: relative;
        @include flex-layout(flex-start, center);
        
        img {
            position: absolute;
            left: 8px;
        }

        input {
            padding: 18px 18px 17px;
            border: none;
            @media (min-width: $desktop) {
            padding: 30px 34px 28px;
             }
        }

        button {
            background: $primary;
            padding: 18px 18px 16px;
            font-weight: 600;
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
            @media (min-width: $tablet) {
            padding: 18px 34px 16px;
            }

            @media (min-width: $desktop) {
            padding: 30px 34px 28px;
            }    
        }
    }
   
    
}



.rent__grid{
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          @media (min-width: $desktop) {     
            grid-template-columns: repeat(3, 1fr);
          }
}

.rent__card {
  
    margin-top: 38px;
    filter: drop-shadow(0px 2px 12px rgba(23, 44, 51, 0.15));

    .rent__card-image {
        height: 380px;
        background: $secondary;
    }
    
    .rent__card-background {
        width: 380px;
        padding-left: 20px;
        padding-top: 28px;
        h5 {
            font-size: 15px;
            font-weight: 600;
        }
        .rent__card-footer {
            @include flex-layout(space-between, center);
            padding-right: 40px;
            padding-bottom: 20px;
            padding-top: 20px;
            ul {
                @include flex-layout(flex-start, center);
                li {
                    @include flex-layout(flex-start, center); 
                }
            }
            small {
                font-size: 18px;
                color: $primary;
                font-weight: 600;
            }
            span {
                font-size: 13px;
                color: #919eb1;
            }
        } 
    }
}

//-------------------How it works------------------
    
.help {
    padding: 54px;

}

.help__heading{
    width: 73%;
    @media (min-width: $tablet){
        width: 53%;
    }
    @media (min-width: $desktop) {
        width: 33%;
    }

    h2{
        font-size: 40px;
        letter-spacing: -1px;
        line-height: 50px;
        font-weight: 600;
    }

    p {
        margin-top: 30px;
        line-height: 30px;
    }
}

.help__card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    @media (min-width: $tablet) {
        grid-template-columns: repeat(2, 1fr);  
    }
    
    @media (min-width: $desktop) {     
        grid-template-columns: repeat(3, 1fr);
        
        margin-top: 30px;
      }
    .help__card{
        padding: 140px 44px 50px;
        filter: drop-shadow(0px 2px 12px rgba(23, 44, 51, 0.15));
        position: relative;
        overflow: hidden;
        margin-top: 49px;
        box-shadow: 0px 2px 12px rgb(23 44 51 / 15%);

        &:hover {
            background: $primary;
        }
        
        .help__card-number {
            font-size: 154px;
            font-weight: 600;
            position: absolute;
            left: -40px;
            top: -59px;
            
                     
        }

        h4 {
            font-size: 18px;
            font-weight: 600;
        }
        
        p {
            font-size: 13px;
            line-height: 30px;
            padding: 28px;
      
            
        }

        a {
            
            margin-left: 28;
            padding-bottom: 14;
            font-weight: 600;
            border-bottom: 3px solid black;
        }
    }
}

//------------------Services-------------

.services {
    padding: 54px;

}

.services__heading{
    width: 73%;
    margin-bottom: 22px;
    @media (min-width: $tablet){
        width: 53%;
        margin-bottom: 42px;
    }
    @media (min-width: $desktop) {
        width: 33%;
        margin-bottom: 62px;
    }

    h2{
        font-size: 40px;
        letter-spacing: -1px;
        line-height: 50px;
        font-weight: 600;
    }

    p {
        margin-top: 30px;
        line-height: 30px;
    }
}

.services__grid{
   
    .services__card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        @media (min-width: $desktop) {
        grid-template-columns: repeat(2, 1fr);
        }

    .services__card-image {
        margin-bottom: 30px;
        height: 300px;
        object-fit: cover;
        @media (min-width: $tablet){
        height: 530px;
        width: 100%;
        background: $secondary;
        
        }
    }
    
    .services__card-background {
        width: 380px;
        @media (min-width: $tablet) {
        padding-left: 60px;}
        
        h4 {
            font-size: 25px;
            letter-spacing: -1px;
            line-height: 50px;
            font-weight: 600;
        }

        p {
            width: 442px;
            height: 126px;
            font-size: 13px;
            line-height: 30px;
        }
    }    
}
}

//-----------------------------Agents-------------------------

.agents-background {
    background: #f6f5f4;
    padding-bottom: 80px;
}

.agents{
    background: #f6f5f4;

}

.agents__heading {
    padding-top: 60px;   
        width: 73%;
        margin-bottom: 22px;
        @media (min-width: $tablet){
            width: 53%;
            margin-bottom: 42px;
        }
        @media (min-width: $desktop) {
            width: 33%;
            margin-bottom: 62px;
        }
    
        h2{
            font-size: 40px;
            letter-spacing: -1px;
            line-height: 50px;
            font-weight: 600;
        }
    
        p {
            margin-top: 30px;
            line-height: 30px;
        }
    
    
}

.agents__grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    @media (min-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: $desktop) {     
      grid-template-columns: repeat(3, 1fr);
    }
}

.agents__card {
  
    margin-top: 38px;
    filter: drop-shadow(0px 2px 12px rgba(23, 44, 51, 0.15));

    .agents__card-image {
        height: 380px;
        background: #cdccce;
    }
    
    .agents__card-text {
        width: 380px;
        padding-left: 20px;
        padding-top: 28px;
        h5 {
            font-size: 15px;
            font-weight: 600;
        }
        .agents__card-footer {
            @include flex-layout(space-between, center);
            padding-right: 20px;
            padding-bottom: 20px;
            padding-top: 20px;
            ul {
                @include flex-layout(flex-start, center);
                li {
                    @include flex-layout(flex-start, center); 
                }
            }
            small {
                font-size: 15px;
                color: $primary;
                font-weight: 600;
            }
            span {
                font-size: 13px;
                color: #919eb1;
            }
        } 
    }
}

//----------------------------Add-----------------------------






