.container {
  max-width: 1180px;
  margin: auto;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #1f373d;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 18px;
}

.header-logo {
  font-size: 24px;
  letter-spacing: -1px;
  font-weight: 600;
}

.header__burger-menu {
  width: 32px;
  height: 32px;
}

.header-menu__button {
  background: #ffcc01;
}

/*kaip headeris atrodys ant mobile*/
.header-menu {
  position: relative;
  order: 1;
}
@media (max-width: 768px) {
  .header-menu nav.header__navigation-links {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    border: 1px solid #96bece;
    border-radius: 5px;
  }
  .header-menu:focus nav.header__navigation-links, .header-menu:focus-within nav.header__navigation-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.header__navigation-link {
  width: 100%;
  padding: 15px 16px 14px;
  font-size: 13px;
  text-align: center;
}
.header__navigation-link:hover {
  /*kai issiskleidzia meniu tuomet gaunam toki efekta, pabraukima*/
  border-bottom: 1px solid #1f373d;
}

/*taip atrodys headeris ant tablet*/
@media (min-width: 768px) {
  .header-menu {
    order: 1;
  }
  .header-menu nav.header__navigation-links a:nth-child(-n+5) {
    display: none;
  }
  .header-menu:focus nav.header__navigation-links, .header-menu:focus-within nav.header__navigation-links {
    /*tevynis elementas, jei ji rodom tai vaikai nepasirodo, nes virsuj nurodem kad jie nesirodytu*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .header-menu:focus nav.header__navigation-links a:nth-child(-n+5), .header-menu:focus-within nav.header__navigation-links a:nth-child(-n+5) {
    /*todel ja ucia nurodom kad vaikas matytusi*/
    display: block;
  }
}
nav.header__navigation-links a:last-child {
  position: absolute;
  top: 40px;
  right: 0;
  border: 1px solid #96bece;
  border-radius: 5px;
}

/*taip headeris atrodis ant desktopo*/
.header-menu {
  order: 0;
}
@media (min-width: 1024px) {
  .header-menu img {
    display: none;
  }
  .header-menu nav.header__navigation-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-menu nav.header__navigation-links a:nth-child(-n+5) {
    /*todel ja ucia nurodom kad vaikas matytusi*/
    display: block;
  }
  .header-menu nav.header__navigation-links a:first-child {
    padding-left: 0;
  }
  .header-menu nav.header__navigation-links a:last-child {
    padding-right: 0;
  }
  .header-menu nav.header__navigation-links a:nth-child(5) {
    padding-right: 34px;
  }
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
  padding: 0 24px;
}
@media (min-width: 1024px) {
  .about {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
  }
}
.about .about__description h2 {
  font-size: 30px;
  letter-spacing: -2px;
  line-height: 78px;
}
@media (min-width: 768px) {
  .about .about__description h2 {
    font-size: 45px;
  }
}
.about .about__description p {
  font-size: 15px;
  margin-bottom: 20px;
  line-height: 30px;
}
@media (min-width: 768px) {
  .about .about__description p {
    width: 70%;
  }
}
@media (min-width: 1024px) {
  .about .about__description p p {
    font-size: 50 px;
    margin-bottom: 42px;
  }
}
.about .about__milestones {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  grid-template-rows: repeat(2, 200px);
  grid-gap: 14px;
}
.about .about__milestones div {
  font-size: 20px;
  letter-spacing: -1px;
  line-height: 50px;
  color: #ffcc01;
}
@media (min-width: 1024px) {
  .about .about__milestones div {
    font-size: 40px;
  }
}
.about .about__milestones span {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 50px;
  color: #1f373d;
}
@media (min-width: 768px) {
  .about .about__milestones {
    grid-gap: 28px;
  }
}
.about .about__milestones .about__milestone {
  background-color: #96bece;
  margin: 25px 25px 25px 25px;
  line-height: 30px;
  padding: 25px;
}

.search .search__container {
  position: relative;
}
.search .search__container .search__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
  position: absolute;
}
.search .search__container .search__heading h1 {
  font-size: 30px;
  letter-spacing: -2px;
  line-height: 78px;
  font-weight: 600;
}
@media (min-width: 768px) {
  .search .search__container .search__heading h1 {
    font-size: 50px;
  }
}
.search .search__container .search__heading input {
  padding: 18px 18px 17px;
  border: none;
}
@media (min-width: 1024px) {
  .search .search__container .search__heading input {
    padding: 30px 34px 28px;
  }
}
.search .search__container .search__heading button {
  background: #ffcc01;
  padding: 18px 18px 16px;
  font-weight: 600;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
@media (min-width: 768px) {
  .search .search__container .search__heading button {
    padding: 18px 34px 16px;
  }
}
@media (min-width: 1024px) {
  .search .search__container .search__heading button {
    padding: 30px 34px 28px;
  }
}
.search .search__container .search__search {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.search .search__container .search__search img {
  position: absolute;
  left: 10px;
}
.search .search__container .search__background {
  background-color: #96bece;
  height: 50%;
  width: 80%;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
@media (min-width: 1024px) {
  .search .search__container .search__background {
    justify-content: flex-end;
    align-items: flex-end;
  }
}
.search .search__container .search__scroll-down {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-90deg);
  position: absolute;
  bottom: 54px;
  left: -32px;
  flex-direction: row-reverse;
}
.search .search__container .search__scroll-down div {
  margin: 12px;
}
.search .search__container .search__scroll-down img {
  transform: rotate(90deg);
}

.search__contacts {
  display: flex;
  flex-direction: column;
  background: #ffcc01;
}
@media (min-width: 1024px) {
  .search__contacts {
    flex-direction: row;
  }
}
.search__contacts .search__contact {
  padding: 26px 50px 28px 50px;
  font-weight: bold;
}

.appartments-background {
  background: #f6f5f4;
  padding-bottom: 80px;
}

.wrapper {
  margin-top: 58px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.rent {
  background: #f6f5f4;
  padding-top: 40px;
}
.rent button {
  background: white;
  padding: 30px 34px 28px;
  font-weight: 600;
}
.rent h2 {
  font-weight: 600;
  font-size: 40px;
  letter-spacing: -1px;
}
.rent .search__search {
  margin-right: 30px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.rent .search__search img {
  position: absolute;
  left: 8px;
}
.rent .search__search input {
  padding: 18px 18px 17px;
  border: none;
}
@media (min-width: 1024px) {
  .rent .search__search input {
    padding: 30px 34px 28px;
  }
}
.rent .search__search button {
  background: #ffcc01;
  padding: 18px 18px 16px;
  font-weight: 600;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
@media (min-width: 768px) {
  .rent .search__search button {
    padding: 18px 34px 16px;
  }
}
@media (min-width: 1024px) {
  .rent .search__search button {
    padding: 30px 34px 28px;
  }
}

.rent__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 1024px) {
  .rent__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.rent__card {
  margin-top: 38px;
  filter: drop-shadow(0px 2px 12px rgba(23, 44, 51, 0.15));
}
.rent__card .rent__card-image {
  height: 380px;
  background: #96bece;
}
.rent__card .rent__card-background {
  width: 380px;
  padding-left: 20px;
  padding-top: 28px;
}
.rent__card .rent__card-background h5 {
  font-size: 15px;
  font-weight: 600;
}
.rent__card .rent__card-background .rent__card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.rent__card .rent__card-background .rent__card-footer ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.rent__card .rent__card-background .rent__card-footer ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.rent__card .rent__card-background .rent__card-footer small {
  font-size: 18px;
  color: #ffcc01;
  font-weight: 600;
}
.rent__card .rent__card-background .rent__card-footer span {
  font-size: 13px;
  color: #919eb1;
}

.help {
  padding: 54px;
}

.help__heading {
  width: 73%;
}
@media (min-width: 768px) {
  .help__heading {
    width: 53%;
  }
}
@media (min-width: 1024px) {
  .help__heading {
    width: 33%;
  }
}
.help__heading h2 {
  font-size: 40px;
  letter-spacing: -1px;
  line-height: 50px;
  font-weight: 600;
}
.help__heading p {
  margin-top: 30px;
  line-height: 30px;
}

.help__card-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
}
@media (min-width: 768px) {
  .help__card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .help__card-container {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
  }
}
.help__card-container .help__card {
  padding: 140px 44px 50px;
  filter: drop-shadow(0px 2px 12px rgba(23, 44, 51, 0.15));
  position: relative;
  overflow: hidden;
  margin-top: 49px;
  box-shadow: 0px 2px 12px rgba(23, 44, 51, 0.15);
}
.help__card-container .help__card:hover {
  background: #ffcc01;
}
.help__card-container .help__card .help__card-number {
  font-size: 154px;
  font-weight: 600;
  position: absolute;
  left: -40px;
  top: -59px;
}
.help__card-container .help__card h4 {
  font-size: 18px;
  font-weight: 600;
}
.help__card-container .help__card p {
  font-size: 13px;
  line-height: 30px;
  padding: 28px;
}
.help__card-container .help__card a {
  margin-left: 28;
  padding-bottom: 14;
  font-weight: 600;
  border-bottom: 3px solid black;
}

.services {
  padding: 54px;
}

.services__heading {
  width: 73%;
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .services__heading {
    width: 53%;
    margin-bottom: 42px;
  }
}
@media (min-width: 1024px) {
  .services__heading {
    width: 33%;
    margin-bottom: 62px;
  }
}
.services__heading h2 {
  font-size: 40px;
  letter-spacing: -1px;
  line-height: 50px;
  font-weight: 600;
}
.services__heading p {
  margin-top: 30px;
  line-height: 30px;
}

.services__grid .services__card {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 1024px) {
  .services__grid .services__card {
    grid-template-columns: repeat(2, 1fr);
  }
}
.services__grid .services__card .services__card-image {
  margin-bottom: 30px;
  height: 300px;
  object-fit: cover;
}
@media (min-width: 768px) {
  .services__grid .services__card .services__card-image {
    height: 530px;
    width: 100%;
    background: #96bece;
  }
}
.services__grid .services__card .services__card-background {
  width: 380px;
}
@media (min-width: 768px) {
  .services__grid .services__card .services__card-background {
    padding-left: 60px;
  }
}
.services__grid .services__card .services__card-background h4 {
  font-size: 25px;
  letter-spacing: -1px;
  line-height: 50px;
  font-weight: 600;
}
.services__grid .services__card .services__card-background p {
  width: 442px;
  height: 126px;
  font-size: 13px;
  line-height: 30px;
}

.agents-background {
  background: #f6f5f4;
  padding-bottom: 80px;
}

.agents {
  background: #f6f5f4;
}

.agents__heading {
  padding-top: 60px;
  width: 73%;
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .agents__heading {
    width: 53%;
    margin-bottom: 42px;
  }
}
@media (min-width: 1024px) {
  .agents__heading {
    width: 33%;
    margin-bottom: 62px;
  }
}
.agents__heading h2 {
  font-size: 40px;
  letter-spacing: -1px;
  line-height: 50px;
  font-weight: 600;
}
.agents__heading p {
  margin-top: 30px;
  line-height: 30px;
}

.agents__grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 768px) {
  .agents__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .agents__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.agents__card {
  margin-top: 38px;
  filter: drop-shadow(0px 2px 12px rgba(23, 44, 51, 0.15));
}
.agents__card .agents__card-image {
  height: 380px;
  background: #cdccce;
}
.agents__card .agents__card-text {
  width: 380px;
  padding-left: 20px;
  padding-top: 28px;
}
.agents__card .agents__card-text h5 {
  font-size: 15px;
  font-weight: 600;
}
.agents__card .agents__card-text .agents__card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.agents__card .agents__card-text .agents__card-footer ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.agents__card .agents__card-text .agents__card-footer ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.agents__card .agents__card-text .agents__card-footer small {
  font-size: 15px;
  color: #ffcc01;
  font-weight: 600;
}
.agents__card .agents__card-text .agents__card-footer span {
  font-size: 13px;
  color: #919eb1;
}/*# sourceMappingURL=style.css.map */