// breakpoints

$mobile: 375px;
$tablet: 768px;
$desktop: 1024px;

// other
$text-color: #1f373d;
$primary: #ffcc01;
$secondary: #96bece;

$border-radius: 5px;

.container {
    max-width: 1180px;
    margin: auto;
}